$red: #FC3401;
$blue: #03B9ED;
$blue-dark: #38bdee;
$blue-bg: #EEFAFF;
$gray: #F4F5F5;
$gray-dark: #c0c0c0;
$white: #ffffff;

$font-prymary-color: #3B3D3F;
$font-primary: 'Helvetica';
$font-size-normal: 12px;
$font-size-big: 16px;
$font-size-small: 10px;